page-create-e-passport {
    .scan-top-hint {
        margin-top: 40px;
        text-align: center;
        color: white;
        font-size: 28px;
    }

    .scan-bottom-hint {
        margin-top: 40px;
        text-align: center;
        color: white;
        font-size: 28px;
    }
}
