page-check-in-success {
    .flight-title {
        margin-top: 25px;
        margin-bottom: 0;
        margin-left: 12px;
        margin-right: 12px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 2.0em;
    }
}
