page-book-success {
    .flight-title {
        margin-top: 25px;
        margin-bottom: 0;
        text-align: center;
        font-size: 30px;
    }

    .flight-id {
        margin-top: 0;
        font-size: 18px;
        text-align: center;
    }
}
