<div class="menu">
    <div class="logo-container">
        <img src="/assets/imgs/klm-logo.png" class="klm-sidebar-img">
        <img src="/assets/imgs/skyteam.png" class="skyteam">
        <img src="/assets/imgs/cross.png" class="cross-sidebar-img" (click)="shown = false">
    </div>

    <div class="options-container">
        <div class="option">
            <div class="image">
                <img src="/assets/imgs/account.png">
            </div>
            <div class="text">
                <p>Account</p>
            </div>
        </div>
        <div class="option sub">
            <div class="image">
                <img src="/assets/imgs/account.png">
            </div>
            <div class="text">
                <p>e-Identity</p>
            </div>
        </div>
        <div class="option sub">
            <div class="image">
                <img src="/assets/imgs/document.png">
            </div>
            <div class="text">
                <p>e-Passport</p>
            </div>
        </div>
        <div class="option">
            <div class="image">
                <img src="/assets/imgs/global.png" class="global-icon">
            </div>
            <div class="text">
                <p>Travels</p>
            </div>
        </div>
        <div class="option sub" *ngIf="bookedFlight" (click)="goToTravelPage(bookedFlight)">
            <div class="image">
                <img src="/assets/imgs/airplane-up.png" class="airplane-icon">
            </div>
            <div class="text">
                <p>{{ bookedFlight.date | date: 'dd/MM/yyyy' }} - {{ bookedFlight.from }} -> {{ bookedFlight.to }}</p>
            </div>
        </div>
        <div class="option">
            <div class="image">
                <img src="/assets/imgs/timeline.png">
            </div>
            <div class="text">
                <p>Timeline</p>
            </div>
        </div>
        <div class="option">
            <div class="image">
                <img src="/assets/imgs/settings.png" class="settings-icon">
            </div>
            <div class="text">
                <p>Settings</p>
            </div>
        </div>
        <div class="option no-padding">
            <button class="delete delete-everything" (click)="deleteSmartContract()" [disabled]="isDeleting">Delete data</button>
        </div>
    </div>
</div>

<div class="close-area" (click)="shown = false">

</div>



