components-menu-bar {
    $klm-blue: #00A1DE !important;

    position: absolute;
    top: 0px;
    left: -100%;
    display: flex;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all 500ms;

    p {
        margin: 0;
        font-weight: 500;
    }

    .no-padding {
        padding: 0 !important;
    }

    .delete-everything {
        font-size: 20px;
        color: #fff;
        padding: 20px;
        width: 100%;
        font-weight: 700;
    }

    &.shown {
        left: 0px;
    }

    .skyteam {
        width: 40px;
        height: 40px;
        margin-top: 8px;
        margin-left: 12px;
    }

    .menu {
        width: 100%;
        height: 100%;
        background-color: white;
        border-right: 1px solid gray;
        display: flex;
        flex-direction: column;

        .logo-container {
            align-items: center;
            flex-direction: row;
            flex-basis: 100px;
            flex-shrink: 0;
            display: flex;
            background: $klm-blue;

            .klm-sidebar-img {
                height: 80px;
                margin-left: 40px;
            }

            .cross-sidebar-img {
                position: absolute;
                right: 16px;
                top: 16px;
                height: 24px;
            }

            p {
                color: white;
                margin-left: 12px;
                font-size: 22px;
                font-weight: 700;
            }
        }

        .options-container {
            flex: 1;
            overflow-y: auto;
            padding-bottom: 100px;

            .sub {
                padding-left: 45px !important;
            }

            .option {
                background-color: white;
                display: flex;
                border-bottom: 1px solid lightgrey;
                padding-left: 12px;
                padding-top: 12px;
                padding-bottom: 12px;

                &:focus {
                    background-color: #C2DEEA;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #C2DEEA;
                }

                .image {
                    flex-basis: 60px;
                    display: flex;
                    justify-content: center;

                    img {
                        height: 20px;
                        margin: 5px;
                    }

                    ion-icon {
                        margin: 10px;
                        margin-left: 30px;
                        font-size: 38px;
                        color: white;
                    }
                }

                .settings-icon {
                    height: 15px !important;
                }

                .text {
                    position: relative;
                    flex: 1;
                    color: #003145;

                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    margin-left: 8px;
                    font-weight: 700;

                    .detail {
                        position: absolute;
                        top: 10px;
                        left: 140px;
                        background-color: red;
                        color: $text_color;
                        border-radius: 10px;
                        width: 20px;
                        text-align: center;
                    }
                }

                &.warning {
                    background-color: #ff4040;
                    ion-icon {
                        color: white;
                    }

                    .text {
                        color: white;
                        font-weight: bold;
                    }
                }

                &.bottom {
                    position: absolute;
                    bottom: 0px;
                    width: 80%;
                    border-top: 1px solid #ddd;
                }
            }
        }
    }

    .close-area {
        flex: 1;
    }
}
