page-account-dashboard {
    .username {
        text-align: center;
    }

    .sidemenu {
        color: #00A1DE;
        display: block;
        position: absolute;
        font-size: 1.8em;
        left: 16px;
        top: 25px;
    }

    .active-flight {
        font-size: 20px;
        width: 70%;
        margin-left: 15%;
        text-align: center;
    }
}
