// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$klm-blue: #00A1DE !important;

h1 {
    line-height: 1.35 !important;
    font-size: 29px !important;
    font-family: 'Noa LT W02 Light';
}

h2 {
    line-height: 1.35 !important;
    font-size: 25px !important;
    font-family: 'Noa LT W02 Light';
}  

h3 {
    line-height: 1.5 !important;
    font-size: 23px !important;
    font-family: 'Noa LT W02 Light';
}

h4 {
    line-height: 1.5 !important;
    font-size: 20px !important;
    font-family: 'Noa LT W02 Light';
}

p {
    line-height: 1.5 !important;
    font-size: 16px !important;
    font-family: 'Noa LT W02 Light';
}

button {
    font-family: 'Noa LT W02 Light';
}

input {
    font-family: 'Noa LT W02 Light';
}

:focus::-webkit-input-placeholder{
     text-indent: -999px
}

:focus::-moz-placeholder{
     text-indent: -999px
}

button:disabled {
    background: #DDDFDF;
    opacity: 1.0;
}

ion-content {
    background-color: #F7F9F9;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.klm-button-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: column;
}

.klm-button {
    height: 50px;
    width: 80%;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    color: white;
    background-color: #00A1DE;
    border-radius: 100px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    &:hover {
        opacity: 0.8;
    }
}

.klm-textarea {
    width: 90%;
    margin-bottom: 26px;
    background-color: white;
    border: 6px solid white;
    color: #003145;
    font-size: 20px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #F0EFED;

    &:focus {
        color: #0196D9;
        border: 2px solid #0196D9;
    }

    &::placeholder {
        color: #003145;
        opacity: 0.5;
    }
}

.delete {
    background-color: #E00034;
}

.klm-logo-container {
    text-align: center;

    img {
        margin-top: 50px;
        width: 80%;
        max-width: 500px;
    }
}

.klm-input-fields-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.klm-input {
    width: 80%;
    margin-bottom: 26px;
    background-color: white;
    color: #003145;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #F0EFED;

    &:focus {
        color: #0196D9;
        border: 2px solid #0196D9;
    }

    &::placeholder {
        color: #003145;
        opacity: 0.5;
    }
}

.klm-header {
    text-align: center;
    margin-top: 30px !important;
    color: white;
    font-size: 38px;
    font-weight: 700;
}

.swiper-slide {
    display: block;
    padding: 16px;

    img {
        margin-top: 30px;
    }
}

.center-img {
    margin-top: 30px !important;
    align-self: center;
}

.swiper-pagination-bullet-active {
    background-color: $klm-blue;
}

.swiper-pagination-bullet {
    height: 30px;
    width: 30px;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.content {
    padding-top: 40px;
    color: #003145;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4em;
}

.klm-header-container {
    background-color: #00A1DE;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.main-info {
    display: flex;
    flex-direction: row;

    .left-side-info-container {
        display: flex;
        flex-direction: column;
        margin-right: 8px;
        margin-left: 24px;
        width: calc(50% - 32px);

        .info-left {
            font-weight: 700;
            font-size: 18px;
            margin-top: 4px;
            margin-bottom: 4px;
            text-align: center;
        }
    }
    
    .right-side-info-container {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        width: calc(50% - 8px);

        .info-right {
            font-weight: 300;
            font-size: 18px;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}

.description-text {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@font-face{
    font-family:"Longhand W01 RegularLP";
    src:url("../assets/fonts/7825fff4-c5bf-4ddb-b866-760d432c0953.eot?#iefix");
    src:url("../assets/fonts/7825fff4-c5bf-4ddb-b866-760d432c0953.eot?#iefix") format("eot"),url("../assets/fonts/af59083c-76bd-40f3-8887-f6a9f2bdb79e.woff2") format("woff2"),url("../assets/fonts/a8d8653b-cb98-492d-be8c-a15b016eb134.woff") format("woff"),url("../assets/fonts/c5ade2b8-6fb2-404f-875b-84dca1c68e8d.ttf") format("truetype"),url("../assets/fonts/79f0fec1-fb41-44b0-a17d-4677a426368e.svg#79f0fec1-fb41-44b0-a17d-4677a426368e") format("svg");
}

@font-face{
    font-family:"Noa LT W02 Light";
    src:url("../assets/fonts/28b252e1-028a-482b-8e08-6eed58236cf8.eot?#iefix");
    src:url("../assets/fonts/28b252e1-028a-482b-8e08-6eed58236cf8.eot?#iefix") format("eot"),url("../assets/fonts/3df3b35f-9689-4556-ac6f-de646370eaa4.woff2") format("woff2"),url("../assets/fonts/c423b516-460f-4d10-acd1-e465ffb62bc3.woff") format("woff"),url("../assets/fonts/08d13695-efc1-48ce-a456-fc9ac36e9fbc.ttf") format("truetype"),url("../assets/fonts/99dd3df3-65fd-487d-ba0e-4ebf429d0f1e.svg#99dd3df3-65fd-487d-ba0e-4ebf429d0f1e") format("svg");
}
