<ion-content padding>
	<components-back-button></components-back-button>

	<div class="klm-header-container">
		<h1 class="klm-header">Check in</h1>
	</div>
	<div class="main-info">
		<div class="left-side-info-container">
			<p class="info-left">Flight</p>
			<p class="info-left">From</p>
			<p class="info-left">To</p>
			<p class="info-left">Date</p>
			<p class="info-left">Travellers</p>
		</div>
		<div class="right-side-info-container">
			<p class="info-right">{{ booking.flightId }}</p>
			<p class="info-right">{{ booking.from }}</p>
			<p class="info-right">{{ booking.to }}</p>
			<p class="info-right">{{ booking.date | date:'dd/MM/yyyy' }}</p>
			<p class="info-right">{{ booking.travellers }}</p>
		</div>
	</div>

	<div class="video-container" *ngIf="!isCheckingIn; else isCheckingInView">
		<span>We are scanning your face. Hang on...</span>
		
		<video autoplay width="300" height="400" #videoplayer></video>

		<ion-spinner></ion-spinner>
	</div>
	
	<ng-template #isCheckingInView>
		<div class="checking-loader" *ngIf="!checkingError; else checkingErrorView">
			<span>Hang on... We are finishing your check in.</span>

			<ion-spinner></ion-spinner>
		</div>

		<ng-template #checkingErrorView>
			<div class="error-view">
				<span>Something went wrong and we could not check in.</span>
	
				<button class="klm-button" (click)="processCheckIn()">
					Try again
				</button>
			</div>
		</ng-template>
	</ng-template>
</ion-content>
	